.filter {
	 background-image: url('http://www.reifax.com/img/toolbar/filter.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 
	 }
	 
.filter:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/filter.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.filterRemove {
	 background-image: url('http://www.reifax.com/img/toolbar/filter-delete.png');
	 background-repeat:no-repeat;
	 background-size: 25px 25px;
	 padding: 0.7em 1em;
	 }
	 
.filterRemove:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/filter-delete.png');
	 background-repeat:no-repeat;
	 background-size: 25px 25px;
	 }
	 
.deleteFollow {
	 background-image: url('http://www.reifax.com/img/myemail/deleteEmail.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.deleteFollow:hover{
	 background-image: url('http://www.reifax.com/img/myemail/deleteEmail.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.removeFilter {
	 background-image: url('http://www.reifax.com/img/toolbar/filter-delete.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.removeFilter:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/filter-delete.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.getContacts {
	 background-image: url('http://www.reifax.com/img/ximaicon/user_green.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.getContacts:hover{
	 background-image: url('http://www.reifax.com/img/ximaicon/user_green.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }	 
	
	
.sendContract {
	 background-image: url('http://www.reifax.com/img/toolbar/guarantee.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.sendContract:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/guarantee.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }	 

.sendEmail {
	 background-image: url('http://www.reifax.com/img/toolbar/email.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.sendEmail:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/email.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.sendSMS {
	 background-image: url('http://www.reifax.com/img/toolbar/phone.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.sendSMS:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/phone.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }	 

.sendFax {
	 background-image: url('http://www.reifax.com/img/toolbar/fax.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.sendFax:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/fax.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }

.makeCall {
	 background-image: url('http://www.reifax.com/img/toolbar/gvoicemult.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.makeCall:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/gvoicemult.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.deleteContacts {
	 background-image: url('http://www.reifax.com/img/myemail/deleteEmail.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.deleteContacts:hover{
	 background-image: url('http://www.reifax.com/img/myemail/deleteEmail.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.addContacts {
	 background-image: url('http://www.reifax.com/img/add.gif');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 } 
.addContacts:hover{
	 background-image: url('http://www.reifax.com/img/add.gif');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.editContacts {
	 background-image: url('http://www.reifax.com/img/toolbar/update.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.editContacts:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/update.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }	 
.blockContacts {
	 background-image: url('http://www.reifax.com/img/toolbar/block.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.blockContacts:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/block.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }	 
.assignContEmailInbox {
	 background-image: url('http://www.reifax.com/img/toolbar/contactAssign.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.assignContEmailInbox:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/contactAssign.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.assignProEmailInbox {
	 background-image: url('http://www.reifax.com/img/toolbar/propertyAssign.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.assignProEmailInbox:hover{
	 background-image: url('http://www.reifax.com/img/toolbar/propertyAssign.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.legal {
	 background-image: url('../../resources/image/iconos/legal.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.legal:hover{
	 background-image: url('../../resources/image/iconos/g-legal.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.facebook {
	 background-image: url('../../resources/image/iconos/facebook.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.facebook:hover{
	 background-image: url('../../resources/image/iconos/g-facebook.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.twitter {
	 background-image: url('../../resources/image/iconos/twitter.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.twitter:hover{
	 background-image: url('../../resources/image/iconos/g-twitter.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
.linkedin {
	 background-image: url('../../resources/image/iconos/linkedin.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 
.linkedin:hover{
	 background-image: url('../../resources/image/iconos/g-linkedin.png');
	 background-repeat:no-repeat;
	 background-size: 30px 30px;
	 }
	 